@charset "UTF-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	height: 100%;
}
.wrapper {
	max-width: 2560px;
	height: 3000px;
}

.nav {
	position: fixed;
	z-index: 150;
	background:#5B5F62;
	width: 12%;
	height: 1px;
	top: 60px;
	left: 2140px;
	opacity: .9;
}
#portfolio_button {
	font-family: arial; 
	color: #5B5F62; 
	font-size: 20pt;
	position: fixed;
	z-index: 200;
	left: 2140px;
	top: 30px;
	height: 40px;
	text-decoration: none;
}
#portfolio_button:hover {
	transform: scale(1.1);
}
#about_button {
	font-family: arial; 
	color: #5B5F62; 
	font-size: 20pt;
	position: fixed;
	z-index: 200;
	left: 2350px;
	top: 30px;
	height: 50px;
}
#about_button:hover {
	transform: scale(1.1);
}

.button {
	position: absolute;
	z-index: 3;
	background-color: #1C2F42;
	width: 10%;
	height: 40px;
	top:250px;
	left: 150px;
	border-radius:30px;
}

.button:hover {
	
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	transform: scale(1.03);
}

.button-165 {
	position: absolute;
	z-index: 3;
	color: white;
	font-family: arial;
	top: 11px;
	left: 30px;
}




.back_container {
	position:absolute;
	filter: drop-shadow(0px 0px 1px black);
	margin-top: 800px;
	z-index: 2;
	width: 100%;
	height: 2800px;
	background-color: white;
}

.copy-container{
	position:absolute;
	filter: drop-shadow( 3px 3px 6px gray);
	margin-top: 525px;
	margin-left: 20%;
	z-index: 200;
	width: 60%;
	height: 775px;
	background-color: white;
}

.header {
	position: absolute;
	z-index: 3;
	left: 150px;
	top: 100px;
    font-family: arial;
    color: black;
    font-size: 2.8em;
    font-style: normal;
    font-weight: bold;
}

.location {
	position: absolute;
	z-index: 3;
	left: 1050px;
	top: 110px;
	font-family: arial;
	font-weight: bold;
	color: black;
	font-size: 1.2em;
	
}

.muncie {
	position: absolute;
	z-index: 3;
	left: 1160px;
	top: 110px;
	font-family: arial;
	color: black;
	font-size: 1.1em;
	
}


.line {
	position: absolute;
	z-index: 3;
	width: 73%;
	height: 0px;
	color: black;
	top: 450px;
	left: 155px;
}

.overview {
	position: absolute;
	z-index: 3;
	font-family: arial;
	font-weight: bold;
	font-size: 1.2em;
	top: 550px;
	left: 150px;
	width: 25%;
	height: 100px;
}

  p {
	position: absolute;
	z-index: 3;
	font-family: arial;
	font-size: .9em;
	font-weight:normal;
	width: 30%;
	height: 75px;
	top: 575px;
	left: 150px;
}

.results {
	position: absolute;
	z-index: 3;
	font-family: arial;
	font-weight: bold;
	font-size: 1.2em;
	top: 550px;
	left: 900px;
	width: 25%;
	height: 100px;
}

.results-copy {
	position: absolute;
	z-index: 3;
	font-family: arial;
	font-size: .9em;
	font-weight:normal;
	width: 30%;
	height: 20px;
	top: 575px;
	left: 900px;
}
.logo {
	position: fixed;
	top: -64px;
	left: -100px;
	height: 1340px;
}

.aus3 {
		position: absolute;
		z-index: 10;
		height: 600px;
		left: 675px;
		top: 1400px;
	filter: drop-shadow(3px 3px 6px gray );
	}

.aus2 {
		position: absolute;
		z-index: 10;
		height: 600px;
		left: 675px;
		top: 2060px;
	filter: drop-shadow(3px 3px 6px gray );
	}

.aus1 {
		position: absolute;
		z-index: 10;
		height: 600px;
		left:675px;
		top: 2720px;
	filter: drop-shadow(3px 3px 6px gray );
	}
	
	



/*Mobile Device*/
@media (max-width: 380px) {
	.robinwood {
		position: fixed;
		left: 0px;
	}
}

/*Small Tablet Device*/
@media (min-width: 380px) and (max-width: 950px) {
	.wrapper {
		width: 100%;
	}
	.nav{
		width: 100%;
	}
	#portfolio_button{
		position: fixed;
		left: 660px;
		top: 40px;
		font-size: 1.3em;
	}
	#about_button{
		position: fixed;
		left: 820px;
		top: 40px;
		font-size: 1.3em;
	}
	.logo {
		 position: fixed;
		width: 100%;
		height: 525px;
		left: 35px;
	}
	.back_container {
		position: absolute;
		top: -250px;
		height: 500px;
	}
	
	.copy-container {
		position: absolute;
		top: -20px;
		width: 82%;
		height: 2000px;
		left: -100px;
	}
	.header {
		position: absolute;
		left: 70px;
	}
	
	.button{
		position: absolute;
		width: 155px;
		left: 70px;
		top: 200px;
	}
	.button-165 {
		
	}
	.location {
		position: absolute;
		left: 460px;
		top: 200px;
	}
	.muncie {
		position: absolute;
		left: 570px;
		top: 201px;
	}
	
	.line {
		position: absolute;
		top: 300px;
		left: 70px;
		width: 625px;
	}
	
	.overview {
		position: absolute;
		top: 350px;
		left: 70px;
	}
	.overview-copy {
		position: absolute;
		font-size: .7em;
		width: 310px;
		top: 375px;
		left: 70px;
	}
	.results {
		position: absolute;
		top: 350px;
		left: 425px;
	}
	.results-copy {
		position: absolute;
		font-size: .7em;
		width: 310px;
		top: 375px;
		left: 425px;
	}
	
	.color-font {
		position: absolute;
		left: 135px;
		top: 1100px;
		width: 74%;
		height: 415px;
	}
	.components {
		position: absolute;
		left: 135px;
		top: 1455px;
		width: 74%;
		height: 400px;
	}

}


/*Large Tablet Device*/
@media (min-width: 951px) and (max-width: 1536px) {
	
	#wrapper {
	position: absolute;
	width: 100%;
	background: black;
}
	
	#nav{
		height: 50px;
		position: fixed;
		width: 100%;
	}
	.back_container {
		position: absolute;
		height: 1300px;
	}
	
	#portfolio_button {
		position: fixed;
		left: 1100px;
	}
	
	#about_button {
		position: fixed;
		left: 1350px;
	}
	
	.logo {
		position: fixed;
		width: 100%;
		height:860px;
		left: 40px;
	}
	
	.header {
		position: absolute;
		font-size: 2em;
		left: 100px;
		top: 50px;
	}
	
	.button {
		position: absolute;
		top: 120px;
		left: 100px;
		width: 130px;
	}
	.button-165{
		position: absolute;
		width: 130px;
		left: 23px;
		font-size: .9em;
		
	}
	
	.location {
		position: absolute;
		left: 550px;
		top: 120px;
	}
	
	.muncie {
		position: absolute;
		left: 660px;
		top: 120px;
	}
	
	.line {
		position: absolute;
		top: 220px;
		left: 100px;
		width: 720px;
	}
	
	.overview {
		position: absolute;
		top: 300px;
		left: 100px;
	}
	
	.overview-copy{
		position: absolute;
		top: 340px;
		left: 100px;
		width: 345px;
		font-size: .75em;
	}
	
	.results {
		position: absolute;
		top: 300px;
		left: 500px;
	}
	
	.results-copy {
		position: absolute;
		top: 340px;
		left: 500px;
		font-size: .75em;
		width: 345px;
	}
	
	.copy-container {
		position: absolute;
		height: 600px;
	}
	
	.first {
		position: absolute;
		height: 200px;
		top: 400px;
	}
	
	
	
	
	
	}

/*Desktop Device*/
@media (min-width: 950px) and (max-width:2559px) {}




/*Desktop Large Device*/
@media (min-width: 2560px) {}